In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from glob import glob
import json
from matplotlib import pyplot as plt
import numpy as np
import os
import pandas as pd
from pprint import pprint
import seaborn as sns

In [3]:
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)

In [4]:
data_dir = '../data/data_public/A'
build_dir = '../build/'
model_dir = os.path.join(build_dir, 'model')
metric_dir = os.path.join(build_dir, 'metric')
val_dir = os.path.join(build_dir, 'val')
tst_dir = os.path.join(build_dir, 'tst')
sub_dir = os.path.join(build_dir, 'sub')

info_file = os.path.join(data_dir, 'train', 'info.json')
train_feature_file = os.path.join(data_dir, 'train', 'main_train.data')
train_label_file = os.path.join(data_dir, 'train', 'main_train.solution')
test_feature_file = os.path.join(data_dir, 'test', 'main_test.data')
table_files = glob(os.path.join(data_dir, 'train', 'table_*.data'))

In [5]:
table_files

['../data/data_public/A/train/table_1.data',
 '../data/data_public/A/train/table_3.data',
 '../data/data_public/A/train/table_2.data']

In [6]:
with open(info_file, 'r') as f:
    info = json.load(f)
    
pprint(info)

{'relations': [{'key': ['c_01'],
                'table_A': 'main',
                'table_B': 'table_1',
                'type': 'many_to_many'},
               {'key': ['c_02'],
                'table_A': 'main',
                'table_B': 'table_2',
                'type': 'many_to_one'},
               {'key': ['c_02'],
                'table_A': 'main',
                'table_B': 'table_3',
                'type': 'many_to_one'}],
 'start_time': 1550654179,
 'tables': {'main': {'c_01': 'cat',
                     'c_02': 'cat',
                     'c_1': 'cat',
                     'c_10': 'cat',
                     'c_11': 'cat',
                     'c_12': 'cat',
                     'c_13': 'cat',
                     'c_14': 'cat',
                     'c_15': 'cat',
                     'c_16': 'cat',
                     'c_17': 'cat',
                     'c_2': 'cat',
                     'c_3': 'cat',
                     'c_4': 'cat',
                     'c_5': 'cat',
                     'c_6': 'cat',
                     'c_7': 'cat',
                     'c_8': 'cat',
                     'c_9': 'cat',
                     'n_1': 'num',
                     'n_10': 'num',
                     'n_11': 'num',
                     'n_12': 'num',
                     'n_13': 'num',
                     'n_14': 'num',
                     'n_15': 'num',
                     'n_16': 'num',
                     'n_17': 'num',
                     'n_2': 'num',
                     'n_3': 'num',
                     'n_4': 'num',
                     'n_5': 'num',
                     'n_6': 'num',
                     'n_7': 'num',
                     'n_8': 'num',
                     'n_9': 'num',
                     't_01': 'time'},
            'table_1': {'c_01': 'cat',
                        'c_1': 'cat',
                        'c_2': 'cat',
                        'c_3': 'cat',
                        'c_4': 'cat',
                        'm_1': 'multi-cat',
                        'm_2': 'multi-cat',
                        't_01': 'time'},
            'table_2': {'c_02': 'cat',
                        'c_1': 'cat',
                        'c_10': 'cat',
                        'c_11': 'cat',
                        'c_12': 'cat',
                        'c_2': 'cat',
                        'c_3': 'cat',
                        'c_4': 'cat',
                        'c_5': 'cat',
                        'c_6': 'cat',
                        'c_7': 'cat',
                        'c_8': 'cat',
                        'c_9': 'cat',
                        'm_1': 'multi-cat',
                        'm_2': 'multi-cat',
                        'm_3': 'multi-cat',
                        'm_4': 'multi-cat',
                        'n_1': 'num',
                        'n_2': 'num'},
            'table_3': {'c_02': 'cat',
                        'n_1': 'num',
                        'n_2': 'num',
                        'n_3': 'num',
                        'n_4': 'num'}},
 'time_budget': 600,
 'time_col': 't_01'}

In [7]:
trn_feature = pd.read_csv(train_feature_file, sep='\t', parse_dates=['t_01'],
                          date_parser=lambda x: pd.to_datetime(x, unit='ms'))
print(trn_feature.shape)
trn_feature.head()

/Users/jeong/.conda/envs/jeong/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (17,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(808953, 37)

,c_1,t_01,c_2,n_1,c_3,n_2,n_3,n_4,n_5,n_6,n_7,n_8,n_9,n_10,n_11,c_4,c_5,c_6,c_7,c_8,c_9,c_10,c_11,c_12,c_13,c_14,n_12,n_13,n_14,n_15,n_16,c_15,c_16,n_17,c_17,c_02,c_01
0,6424309506653688772,2017-05-12 03:11:10.767,5970293430443902067,32.0619,71566636588341348,1.0,4.0,1,1.0,21764.5,12265.0,1550.5,7.0,1.0,1.0,NaN,11831082022210354946,2240218224734853194,NaN,5.563825e+18,6052790789500362338,15800027118942146668,6453607437363194232,11761078935003679703,6843963171864976598,828243681803128523,1.0,1.0,1.0,1,1.0,16046562646186466166,11877483212745539743,1.14404,17280693952210522585,10120010452384736852,9367096725129711792
1,8532826394476824675,2017-05-12 03:11:10.763,5970293430443902067,12.5251,1342601528526025535,1.0,1.0,1,1.0,1229.5,677.5,59.5,1.0,1.0,1.0,NaN,11831082022210354946,2240218224734853194,NaN,5.563825e+18,6052790789500362338,15800027118942146668,6453607437363194232,11761078935003679703,6843963171864976598,828243681803128523,1.0,1.0,1.0,1,1.0,16046562646186466166,11877483212745539743,1.14085,14919582067413543358,10399812292535181927,9367096725129711792
2,8238904032236558884,2017-05-12 03:11:10.558,5970293430443902067,16.1738,1342601528526025535,1.0,1.0,1,2.5,2194.0,1340.5,136.0,2.5,1.0,1.0,NaN,11831082022210354946,2240218224734853194,NaN,5.563825e+18,6052790789500362338,15800027118942146668,6453607437363194232,11761078935003679703,6843963171864976598,828243681803128523,1.0,1.0,1.0,1,1.0,16046562646186466166,11877483212745539743,1.14055,9712055990861830264,16981951333260823653,9367096725129711792
3,5905740630224410631,2017-05-12 03:11:10.547,5970293430443902067,23.0458,1342601528526025535,1.0,2.5,1,1.0,6661.0,3412.0,370.0,1.0,1.0,1.0,NaN,11831082022210354946,2240218224734853194,NaN,5.563825e+18,6052790789500362338,15800027118942146668,6453607437363194232,11761078935003679703,6843963171864976598,828243681803128523,1.0,1.0,1.0,1,1.0,16046562646186466166,11877483212745539743,1.13880,12472614627876446882,11155935198576391041,9367096725129711792
4,14597100768854648050,2017-05-12 03:11:10.648,5970293430443902067,18.5793,1342601528526025535,1.0,1.0,1,1.0,2861.5,1517.5,139.0,1.0,1.0,1.0,NaN,11831082022210354946,2240218224734853194,NaN,5.563825e+18,6052790789500362338,15800027118942146668,6453607437363194232,11761078935003679703,6843963171864976598,828243681803128523,1.0,1.0,1.0,1,1.0,16046562646186466166,11877483212745539743,1.13725,3546733086056819470,8093248447354845242,9367096725129711792

In [8]:
trn_feature.t_01.min(), trn_feature.t_01.max()

(Timestamp('2017-05-12 03:00:00.500000'),
 Timestamp('2017-05-12 03:59:59.800000'))

In [9]:
tst_feature = pd.read_csv(test_feature_file, sep='\t', parse_dates=['t_01'],
                          date_parser=lambda x: pd.to_datetime(x, unit='ms'))
print(tst_feature.shape)
tst_feature.head()

/Users/jeong/.conda/envs/jeong/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (16,17,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(779656, 37)

,c_1,t_01,c_2,n_1,c_3,n_2,n_3,n_4,n_5,n_6,n_7,n_8,n_9,n_10,n_11,c_4,c_5,c_6,c_7,c_8,c_9,c_10,c_11,c_12,c_13,c_14,n_12,n_13,n_14,n_15,n_16,c_15,c_16,n_17,c_17,c_02,c_01
0,8535203418619219291,2017-05-12 04:04:34.767,14244086715478354906,15.82920,14542353139807079841,4.0,1.0,1,1.0,8201.5,3748.0,238.0,5.5,1.0,1.0,NaN,8260837335105015110,2240218224734853194,NaN,5.563825e+18,12299977834485778578,15800027118942146668,NaN,17884393345140613117,6843963171864976598,828243681803128523,5317210.0,2173.0,1.0,1,1.0,12015857239752225907,11877483212745539743,2.50000,14919582067413543358,8775653479916469112,13962336179363647371
1,17097214548200728763,2017-05-12 04:04:34.763,14244086715478354906,24.73150,6080858954110509387,70.0,28.0,1,14.5,112916.0,62171.5,16145.5,76.0,1.0,1.0,NaN,8260837335105015110,2240218224734853194,NaN,5.563825e+18,12299977834485778578,15800027118942146668,NaN,17884393345140613117,6843963171864976598,828243681803128523,1.0,1.0,1.0,1,1.0,12015857239752225907,11877483212745539743,2.12217,9712055990861830264,15735355027836742668,13962336179363647371
2,9202989328953989374,2017-05-12 04:04:34.558,14244086715478354906,5.60389,6080858954110509387,1.0,8.5,1,4.0,13313.5,6286.0,1354.0,2.5,1.0,1.0,NaN,8260837335105015110,2240218224734853194,NaN,5.563825e+18,12299977834485778578,15800027118942146668,NaN,17884393345140613117,6843963171864976598,828243681803128523,1.0,1.0,1.0,1,1.0,12015857239752225907,11877483212745539743,2.06701,12472614627876446882,10010986314156369933,13962336179363647371
3,7312480218895445350,2017-05-12 04:04:34.547,14244086715478354906,13.48620,6080858954110509387,7.0,34.0,1,5.5,59369.5,29236.0,6325.0,13.0,1.0,1.0,NaN,8260837335105015110,2240218224734853194,NaN,5.563825e+18,12299977834485778578,15800027118942146668,NaN,17884393345140613117,6843963171864976598,828243681803128523,1.0,1.0,1.0,1,1.0,12015857239752225907,11877483212745539743,2.06297,3546733086056819470,4579446243591234825,13962336179363647371
4,9185501193662059435,2017-05-12 04:04:34.648,3176212690148280820,33.01610,15807377353786200896,418.0,77.5,1,110.5,625104.0,539431.0,90592.0,409.0,1.0,1.0,NaN,11831082022210354946,7601412346492058524,14168674737905397412,5.563825e+18,3915657881894720516,22610910705196338,6453607437363194232,12617575667003320207,15387598568336108543,828243681803128523,1.0,1.0,1.0,1,1.0,9137574929114727833,11877483212745539743,1.09023,6843963171864976598,6486782592635231108,2264002586764779058

In [10]:
tst_feature.t_01.min(), tst_feature.t_01.max()

(Timestamp('2017-05-12 04:00:00.500000'),
 Timestamp('2017-05-12 05:00:00.799000'))